<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        
        <app-logo></app-logo>
        <app-hamburger></app-hamburger>
        
        
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <div class="justify-content-between d-flex col-12">
            <app-nav-link-top [className]="'navbar-nav me-auto mb-2 mb-lg-0'" [to]="'about'" [text]="'about'"></app-nav-link-top>
            <div class="text-light">
            <app-nav-link-top  [className]="'navbar-nav me-auto mb-2 mb-lg-0'" [to]="'logout'" [text]="'Logout'"></app-nav-link-top>
            
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>