<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        
        <app-logo></app-logo>
        <app-hamburger></app-hamburger>
        
        
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <div class="justify-content-between d-flex col-12">
            <app-left-nav></app-left-nav>
            <div class="text-light">
            <app-right-nav></app-right-nav>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>