<table class="table">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Age</th>
    </tr>

</thead>
<tbody>
    <tr>
        <td>{{contact[0].firstName}}</td>
        <td>{{contact[0].lastName}}</td>
        <td>{{contact[0].email}}</td>
        <td>{{contact[0].birthday}}</td>
        <td>{{contact[0].phone}}</td>
        <td>{{contact[0].age}}</td>
    </tr>
</tbody>
</table>